#root {
  background-color: #242424;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  align-items: center;
  .logo {
    display: flex;
    cursor: pointer;
    &__img {
      width: 48px;
      height: 48px;
    }
    &__text {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 15px;
      margin: 5px;
      &-game {
        color: #da00fe;
      }
      &-store {
        color: #a100ed;
        margin-left: 20px;
      }
    }
  }
  .menu {
    display: flex;
    list-style-type: none;
    &__item {
      padding-right: 10px;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      & a{
        color: #8a8a8a;
        text-decoration: none;
        &:hover {
          color: #da00fe;
        }
      }
    }
  }
  &__search {
    width: 360px;
    background-color: #323232;
    border-radius: 16px;
    display: flex;
    height: 40px;
    align-items: center;
    cursor: pointer;
    &-img {
      margin-left: 20px;
    }
    &-field {
      border: none;
      background-color: #323232;
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      margin-left: 20px;
      &:focus {
        outline: none;
      }
    }
  }
  &__wishlist {
    display: flex;
    gap: 20px;
    height: fit-content;
    margin-top: 0;
    margin-bottom: auto;
    position: relative;
    align-items: center;
    &-basket {
      position: relative;
      cursor: pointer;
      & p {
        text-align: center;
        margin: 0;
        background-color: #ffffff;
        padding: 0 0 2px 0;
        border-radius: 20px;
        width: 20px;
        color: #da00fe;
        font-weight: 600;
        font-size: 14px;
        height: 18px;
        position: absolute;
        top: -3px;
        right: -2px;
      }
    }
    &-favorites {
      position: relative;
      cursor: pointer;
      & p {
        text-align: center;
        margin: 0;
        background-color: #ffffff;
        padding: 0 0 2px 0;
        border-radius: 20px;
        width: 20px;
        color: #da00fe;
        font-weight: 600;
        font-size: 14px;
        height: 18px;
        position: absolute;
        top: 0px;
        right: 2px;
      }
    }
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#550a78, #da00fe);
  margin: 20px 230px;
  border-radius: 16px;
  align-items: center;
  padding: 0 60px;
  &__title {
    color: #ffffff;
    font-weight: 200;
    font-size: 48px;
    margin: 0;
    &-VR {
      color: #da00fe;
    }
  }
  &__subtitle {
    color: #ffffff;
    font-weight: 100;
    margin: 0;
    font-size: 32px;
  }
  &__text {
    color: #ffffff;
    font-weight: 600;
  }
  &__btn {
    background-color: #ffffff;
    border-radius: 16px;
    width: 180px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    &-text {
      background-color: #ffffff;
      color: #da00fe;
      border: none;
      font-size: 18px;
      font-weight: 100;
    }
  }
  &__VR-img {
    height: 350px;
    margin-top: -30px;
  }
}
.products {
  padding: 30px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  &__title {
    padding: 30px 80px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
  }
  &__product {
    background-color: #323232;
    width: 220px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    height: 310px;
    padding-bottom: 30px;
    gap: 10px;
    &-img {
      max-width: 170px;
      max-height: 140px;
      position: relative;
    }
    &-name {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
    }
    &-type {
      color: #8a8a8a;
      font-size: 12px;
    }
    &-price {
      font-size: 16px;
      font-weight: 400;
      color: #da00fe;
    }
    &-color {
      color: #8a8a8a;
      font-size: 16px;
    }
    &-add {
      display: flex;
      cursor: pointer;
      &:hover .products__product-plus {
        background-color: #da00fe;
      }
    }
    &-btn {
      border: none;
      background-color: #323232;
      font-size: 12px;
      font-weight: 100;
      color: #ffffff;
      cursor: pointer;
    }
    &-plus {
      border-radius: 20px;
      background-color: #8a8a8a;
      color: #323232;
      width: 25px;
      height: 20px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5px;
      margin: 0;
    }
    &-favorites {
      position: absolute;
      bottom: 30px;
      right: 20px;
      cursor: pointer;
    }
  }
}
.modal {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  &__content {
    background-color: #323232;
    border-radius: 20px;
    width: 100%;
    max-width: 370px;
    padding: 30px 60px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    & h2 {
      margin: 10px 5px 0;
    }
    &-comment {
      color: rgb(143, 42, 42);
    }
  }
  &__close {
    margin: 10px 10px 5px 0;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 4px;
      background: gray;
      transform: rotate(-45deg);
    }
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 4px;
      background: gray;
      transform: rotate(45deg);
    }
  }
  &__title {
    font-weight: 400;
    font-size: 32px;
    color: rgba(25, 25, 25, 1);
  }
  &__image {
    margin-bottom: 60px;
  }
  &__body {
    color: rgba(127, 127, 127, 1);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__footer {
    display: flex;
    gap: 40px;
  }
  &__first-btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(138, 51, 253, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    width: 192px;
    height: 48px;
    border: none;
  }
  &__second-btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: #323232;
    color: rgba(138, 51, 253, 1);
    font-size: 16px;
    font-weight: 500;
    width: 192px;
    height: 48px;
    border: 1px solid rgba(138, 51, 253, 1);
  }
}
.footer {
  margin-top: 60px;
  display: flex;
  background-color: #323232;
  padding: 30px 60px;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  &__info {
    width: 20%;
    & h3,
    p {
      color: #ffffff;
    }
  }
  & span {
    color: #ffffff;
  }
  &__socials {
    width: 100%;
    margin-left: 80px;
    display: flex;
    gap: 10px;
  }
}
.cart-page {
  &__path {
    padding: 10px 60px;
    color: #8a8a8a;
  }
  &__empty{
display: flex;
align-items: center;
justify-content: center;
margin: 3% 10% ;
padding: 10px;
background-color: #514f4f4c;
border-radius: 60px ;
&-message{
  font-size: 38px;
  color: #8a8a8a;
  text-align: center;
  & .link-Home{
text-decoration: none;
cursor: pointer;
color:#550a78
  }
}
  }

  &__products-details {
    padding: 10px 60px;
    display: flex;
    background-color: rgba(60, 66, 66, 1);
    & h2 {
      width: 50%;
      color: rgba(255, 255, 255, 1);
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;
    }
    & p {
      width: 15%;
      color: rgba(255, 255, 255, 1);
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;
    }
  }
  & .product {
    padding: 40px 40px 10px 60px;
    display: flex;
    position: relative;
    &__about {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 210px;
      &-name {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        margin: 10px;
      }
      .product__about-color,
      .product__about-quantity {
        color: #8a8a8a;
        font-size: 15px;
        margin: 10px;
      }
    }

    &__price,
    .product__subtotal {
      color: #da00fe;
      font-size: 18px;
      padding-top: 15px;
    }
    &__price {
      width: 15%;
    }
    &__shipping {
      color: #8a8a8a;
      font-size: 18px;
      width: 12%;
      padding-top: 15px;
    }
    &__subtotal {
      width: 14%;
    }
    &__img {
      max-width: 170px;
      max-height: 140px;
      position: absolute;
    }
    &__delete {
      background-color: #242424;
      height: fit-content;
      border: none;
      cursor: pointer;
      padding-top: 35px;
    }
  }
}
.link {
  color: #8a8a8a;
  text-decoration: none;
}
.active {
  color: #a100ed;
}
.path {
  text-decoration: none;
}

.wishlist {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  &__path {
    margin-left: 0;
    margin-right: auto;
    padding: 10px 60px;
    color: #8a8a8a;
  }
  &__empty{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 10% ;
    padding: 10px;
    background-color: #514f4f4c;
    border-radius: 60px ;
    &-message{
      font-size: 38px;
      color: #8a8a8a;
      text-align: center;
      & .link-Home{
    text-decoration: none;
    cursor: pointer;
    color:#550a78
      }
    }
      }
  &__title {
     padding: 10px 60px;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
    margin-left: 0;
    margin-right: auto;
  }
  & .product {
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    align-items: center;

    &__delete {
      background-color: #323232;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        background: gray;
        transform: rotate(-45deg);
      }
      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        background: gray;
        transform: rotate(45deg);
      }
    }
    &__img {
      left: 100px;
      max-width: 170px;
      max-height: 140px;
      position: absolute;
    }
    &__about {
      display: flex;
      flex-direction: column;
      margin-left: 240px;
      width: 700px;
      justify-content: space-between;
      &-name {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        margin: 10px;
      }
      &-color,
      .product__about-type {
        color: #8a8a8a;
        font-size: 15px;
        margin: 10px;
      }
    }
    &__price {
      color: #da00fe;
      font-size: 18px;
      margin-right: 40px;
    }
    &__add-to-cart{
      background-color: #a45ab1;
border: none;
padding: 15px 15px;
color: #ffffff;
font-weight: 700;
border-radius: 30px;
font-size: 16px;
cursor: pointer;
    }
  }
}
